<div class="row">
  <div class="col-8">
	<%= if @current_user do %>
		<%= render TaskTrackerWeb.TaskView, "index.html", tasks: @current_user.tasks %>
	<% else %>
		<p><%= link "Register", to: Routes.user_path(@conn, :new) %></p>
	<% end %>
  </div>
</div>
